.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #4ECCA3;
}

button {
  background-color:rgb(128, 0, 0);
	border-radius:6px;
	border: none;
	display:block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Rubik';
	font-size:30px;
	font-weight:bold;
  padding:12px 48px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}

button:hover {
  background-color: rgb(98, 0, 0);
}

h1 {
  margin: 30px;
  font-family: 'Rubik', cursive;
  font-size: 8rem;
  color: rgb(0, 0, 0);
}

p {
  font-size: 3rem;
  color: #393E46;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
